body,html{
    margin:0px;
    padding: 0px;
}
.container{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
}
#PokedexImg{
    position: absolute;
    border-radius: 20px;
    top:50px;
    z-index: 1;
}
#buttonRight{
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    z-index: 4;
    position: absolute;
    top:762px;
    left:580px;
}
#buttonLeft{
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    z-index: 4;
    position: absolute;
    top:762px;
    left:513px;
}

#PokemonSprite{
    z-index: 3;
    position: relative;
    top:250px;
    align-self: center;
}

#pokemonName{
    position: absolute;
    display: inline-block;
    top:637px;
    left:740px;
    z-index: 7;
    font-family: 'VT323', monospace;
    font-size: 30px;
}
#pokemonType{
    position: absolute;
    display: inline-block;
    top: 637px;
    left:1020px;
    z-index: 7;
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-align: right;
}